# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
# --------------------
# Site Settings
# --------------------
title: "Yinzhe Zhou"   # 网站标题，通常显示在浏览器标签页
name: "Yinzhe Zhou"    # 显示在网页上的名字
description: "ECE Master's Student at JHU | Chip Design & Photography" # 网站简述，利于SEO
url: "https://StevenZhoooooooooooooou.github.io" # 必须准确，否则样式会乱
repository: "StevenZhoooooooooooooou/StevenZhoooooooooooooou.github.io" # 必须准确

# --------------------
# Author / Personal Info
# --------------------
author:
  name: "Yinzhe Zhou (周寅哲)"
  avatar: "/assets/images/bio-photo.jpg" # 稍后你需要放一张头像照片到这个路径
  # 下面这句 Bio 结合了你的 ECE 背景和 JHU 身份
  bio: "Master's Student in **ECE** at **Johns Hopkins University**. Focusing on Chip Design, FPGA, and Digital Circuits. Photography enthusiast."
  location: "Baltimore, MD, USA" # JHU 所在地
  email: "zhou.yinzhe@outlook.com"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square" # 信封图标
      url: "mailto:zhou.yinzhe@outlook.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github" # GitHub 图标
      url: "https://github.com/StevenZhoooooooooooooou"
    # 如果你有 LinkedIn，建议稍后也加在这里
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "www.linkedin.com/in/yinzhe-zhou"

# --------------------
# System / Jekyll Settings
# --------------------
# 既然你在巴尔的摩，时区建议设置为美东时间，这样文章发布时间更准确
timezone: America/New_York

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "First Lastname"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "My awesome biography constrained to a sentence or two goes here."
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/"

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
